:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --hero-footer-background-color: #2f303a;
  --body-color: #e5e5e5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-background-color);
}
.accent {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-text-color);
  margin-right: 93px;
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--hero-footer-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero__btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}

/* advantages */
.advantages {
  padding-top: 94px;
  padding-bottom: 47px;
  background-color: var(--primary-background-color);
}
.advantages__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.advantages__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.advantages__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

/* work */
.work {
  padding-top: 47px;
  padding-bottom: 94px;
  background-color: var(--primary-background-color);
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

/* team */
.team {
  background-color: var(--secondary-background-color);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__wrapper-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
}
.team__description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-text-color);
  margin-bottom: 20px;
  display: block;
}
.page-footer {
  background-color: var(--hero-footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  line-height: 1.71;
  color: var(--white-text-color);
  display: block;
}
.footer-contacts-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

/* portfolio */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects__item {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 30px;
  margin-top: 30px;
}
.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects__desc {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}
.projects__desc-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
